<!-- About -->
<div id="about" class="section md-padding">

        <!-- Container -->
        <div class="container">

          <!-- Row -->
          <div class="row">

            <!-- Section header -->
            <div class="section-header text-center">
              <h2 class="title"><%= __("welcome") %></h2>
            </div>
            <!-- /Section header -->

            <!-- about -->
            <div class="col-md-4">
              <div class="about">
                <i class="fab fa-fly"></i>
                <h3><%= __("who") %></h3>
                <p><%= __("who-des") %></p>
                <a href="/booking"><%= __("contact-btn") %></a>
              </div>
            </div>
            <!-- /about -->

            <!-- about -->
            <div class="col-md-4">
              <div class="about">
                <i class="fas fa-users"></i>
                <h3><%= __("team") %></h3>
                <p><%= __("team-des") %></p>
                <a href="/booking"><%= __("contact-btn") %></a>
              </div>
            </div>
            <!-- /about -->

            <!-- about -->
            <div class="col-md-4">
              <div class="about">
                <i class="fa fa-money"></i>
                <h3><%= __("price") %></h3>
                <p><%= __("price-des") %></p>
                <a href="/booking"><%= __("contact-btn") %></a>
              </div>
            </div>
            <!-- /about -->

          </div>
          <!-- /Row -->

        </div>
        <!-- /Container -->

      </div>
      <!-- /About -->
