<div id="pricing" class="section md-padding">

        <!-- Container -->
        <div class="container">

          <!-- Row -->
          <div class="row">

            <!-- Section header -->
            <div class="section-header text-center">
              <h2 class="title"><%= __("p-table") %></h2>
            </div>
            <!-- /Section header -->

            <!-- pricing -->
            <div class="col-sm-4">
              <div class="pricing">
                <div class="price-head">
                  <span class="price-title">Standart Plan</span>
                  <div class="price">
                    <h3>£150<span class="duration">/ <%= __("person") %></span></h3>
                  </div>
                </div>
                <ul class="price-content">
                  <li>
                      <i class="fa fa-check-circle"></i>
                    <%= __("plan-1") %>
                  </li>
                  <li>
                      <i class="fa fa-check-circle"></i>
                    <%= __("plan-2") %>
                  </li>
                  <li>
                      <i class="fa fa-check-circle"></i>
                    <%= __("plan-3") %>
                  </li>
                  <li>
                      <i class="fa fa-check-circle"></i>
                    <%= __("plan-4") %>
                  </li>
                  <li>
                      <i class="fa fa-check-circle"></i>
                    <%= __("plan-5-1") %>
                  </li>
                  <li>
                      <i class="fa fa-check-circle"></i>
                    <%= __("plan-6") %>
                  </li>
                </ul>
                <div class="price-btn">
                  <a href="/booking"><button class="outline-btn"><%= __("plan-7") %></button></a>
                </div>
              </div>
            </div>
            <!-- /pricing -->

            <!-- pricing -->
            <div class="col-sm-4">
              <div class="pricing">
                <div class="price-head">
                  <span class="price-title">Comfort plan</span>
                  <div class="price">
                    <h3>£175<span class="duration">/ <%= __("person") %></span></h3>
                  </div>
                </div>
                <ul class="price-content">
                  <li>
                      <i class="fa fa-check-circle"></i>
                    <%= __("plan-1") %>
                  </li>
                  <li>
                      <i class="fa fa-check-circle"></i>
                    <%= __("plan-2") %>
                  </li>
                  <li>
                      <i class="fa fa-check-circle"></i>
                    <%= __("plan-3") %>
                  </li>
                  <li>
                      <i class="fa fa-check-circle"></i>
                    <%= __("plan-4") %>
                  </li>
                  <li>
                      <i class="fa fa-check-circle"></i>
                    <%= __("plan-5-2") %>
                  </li>
                  <li>
                      <i class="fa fa-check-circle"></i>
                    <%= __("plan-6") %>
                  </li>
                </ul>
                <div class="price-btn">
                  <a href="/booking"><button class="outline-btn"><%= __("plan-7") %></button></a>
                </div>
              </div>
            </div>
            <!-- /pricing -->

            <!-- pricing -->
            <div class="col-sm-4">
              <div class="pricing">
                <div class="price-head">
                  <span class="price-title">Ulrta-Comfort Plan</span>
                  <div class="price">
                    <h3>£200<span class="duration">/ <%= __("person") %></span></h3>
                  </div>
                </div>
                <ul class="price-content">
                  <li>
                    <i class="fa fa-check-circle"></i>
                    <%= __("plan-1") %>
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    <%= __("plan-2") %>
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    <%= __("plan-3") %>
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    <%= __("plan-4") %>
                  </li>
                  <li>
                    <i class="fa fa-check-circle"></i>
                    <%= __("plan-5-3") %>
                  </li>
                  <li>
                      <i class="fa fa-check-circle"></i>
                    <%= __("plan-6") %>
                  </li>
                </ul>
                <div class="price-btn">
                  <a href="/booking"><button class="outline-btn"><%= __("plan-7") %></button></a>
                </div>
              </div>
            </div>
            <!-- /pricing -->

          </div>
          <!-- Row -->

        </div>
        <!-- /Container -->

      </div>
